@import url(https://fonts.googleapis.com/css?family=Roboto:500);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue);
@import url(bootstrap/dist/css/bootstrap.min.css);

/* pallete color: https://colorhunt.co/palette/93463 */

/* google verification needs */
.login-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  margin: 1rem;
}

.google-btn {
  width: 184px;
  height: 42px;
  margin: 1rem;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}

.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}

.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: -8px;
  width: 18px;
  height: 18px;
}
.btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

/* end verification needs */

.App {
  text-align: center;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
}

body {
  padding-top: 100px;
  background-color: #171313;
  /* background-color: white; */
}

.color-nav {
  background-color: #72277a;
}

.brand {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
}

.header-welcome {
  color: white;
  align-self: center;
  font-size: 14px;
  margin-left: 16px;
}

ul {
  padding: 0;
  list-style: none;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

input[type="number"] {
  margin: 10px;
}

.city {
  width: 250px;
}

.CitySearch {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  max-width: 300px;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  z-index: 2;
  align-self: center;
  margin: 0;
  top: 43px;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #f5eeee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #ea21a2;
}

.eventNumberLabel {
  font-family: "Bebas Neue", cursive;
  color: white;
}

/* chart start */

.data-vis-wrapper {
  background-color: #201b1b;
  border-radius: 7px;
}

.charts-collapsed {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-vis-wrapper p {
  color: white;
  font-family: "Bebas Neue", cursive;
  margin: 0;
}

.charts-btn {
  padding: 5px 10px;
  font-family: "Bebas Neue", cursive;
  width: fit-content;
}

text.recharts-text.recharts-pie-label-text {
  padding: 20px;
}

text {
  font-size: 20px;
  font-weight: 500;
}

/* event start */

.EventList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 15px;
  margin-top: 30px;
}

.Event {
  padding: 10px 10px 35px;
  text-align: left;
  border: 1px solid black;
  border-radius: 7px;
  position: relative;
  background-color: #f5eeee;
}

.details-btn {
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  font-family: "Bebas Neue", cursive;
  margin-bottom: 16px;
  background-color: #72277a;
  color: white;
}

.details-btn:hover {
  background-color: #ea21a2;
  color: black;
  grid-column-start: 3;
}

.event-name {
  font-size: 20px;
  font-weight: 600;
}

.event-description {
  overflow-x: hidden;
}

.time-label,
.org-email {
  font-weight: 500;
  color: #72277a;
  color: #ea21a2;
}

.numberOfEvents {
  width: 200px;
  margin: 20px auto;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }
  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
}

@media (min-width: 450px) and (max-width: 1024px) {
  .EventList {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 450px) {
  .EventList {
    grid-template-columns: 1fr;
  }
}
